{% extends "base.html" %}
{% block title %}Личный кабинет - {% endblock %}
{% block content %}
    <h2>Личный кабинет</h2><br>

    <div>
        <p><img alt="Фото профиля" src="{{ user.avatar_url }}" height="120px"></p>
        <p><b>{{ user.get_full_name }}</b></p>
        <p>Email: {{ user.email }}</p>
        <p>Зарегистрирован: {{ user.date_joined }}</p>
        <p>Телефон: <i>{{ user.phone }}</i></p>
        <p>Премиум доступ:
            {% if user.is_premium %}
                Подключён (<a href="{% url "subscriptions:premium" %}">Продлить</a>)
            {% else %}
                Отключён (<a href="{% url "subscriptions:premium" %}">Подключить</a>)
            {% endif %}</p>
    </div>

    <a href="{% url 'password_change' %}">Изменить пароль</a>
    <br>
    <a href="{% url 'logout' %}">Выйти</a>

    <hr>
    <h3>Мои объявления:</h3>
    {% if not active_ads %}<p><i>Отсутствуют</i></p>{% endif %}
    {% for ad in active_ads %}
        <div>
            <p><b><a href="{% url "rentitapp:advertisement" ad.id %}"> {{ ad.name }} </a></b></p>
            <p>{{ ad.description|truncatechars:300 }}</p>
            <p><i><b>{{ ad.price }} руб.</b></i></p>
            <p>Адрес: <i>{{ ad.address }}</i></p>

            <p><a href="{% url "rentitapp:edit" ad.id %}">Редактировать</a></p>
            <p><a href="{% url "rentitapp:process" ad.id %}?deactivate=1&next=profile">Снять с публикации</a></p>
        </div>
        <br>
    {% endfor %}

    {% if deactivated_ads %}
        <hr>
        <h3>Снятые с публикации объявления:</h3>
        <div style="color: gray">
        {% for ad in deactivated_ads %}
        <div>
            <p><b><a style="color: gray" href="{% url "rentitapp:advertisement" ad.id %}"> {{ ad.name }} </a></b></p>
            <p>{{ ad.description|truncatechars:300 }}</p>
            <p><i><b>{{ ad.price }} руб.</b></i></p>
            <p>Адрес: <i>{{ ad.address }}</i></p>

            <p><a href="{% url "rentitapp:edit" ad.id %}">Редактировать</a></p>
            <p><a href="{% url "rentitapp:process" ad.id %}?activate=1&next=profile">Опубликовать снова</a></p>
            <p><a href="{% url "rentitapp:process" ad.id %}?delete=1">Удалить объявление</a></p>
        </div>
        {% endfor %}
    {% endif %}

    <hr>
    <h3>Комментарии:</h3>
    {% if not comments %}<p><i>Отсутствуют</i></p>{% endif %}
    {% for comment in comments %}
        <div style="margin-left: 2%">
        <p><b>{{ comment.author.get_full_name }}:</b></p>
            {% if comment.advertisement %}
            <p><i>К объявлению: {{ comment.advertisement.name }}</i></p>
            {% endif %}
        <p>{{ comment.text }}</p>
        <p><i>Добавлен: {{ comment.date_published }}</i></p>
        <hr>
        </div>
    {% endfor %}
{% endblock %}