{% extends "base.html" %}
{% block title %}{{ user.get_full_name }} - {% endblock %}
{% block content %}
    <h2>Профиль пользователя {{ user.get_full_name }}</h2>
    <p><img alt="Фото профиля" src="{{ user.avatar_url }}" height="120px"></p>
    <p>Email: {{ user.email }}</p>
    <p>Зарегистрирован: {{ user.date_joined }}</p>
    <p>Телефон: <i>{{ user.phone }}</i></p>

    <hr>
    <h3>Объявления пользователя:</h3>
    {% if not public_ads %}<p><i>Отсутствуют</i></p>{% endif %}
    {% for ad in public_ads %}
        <div>
            <p><b><a href="{% url "rentitapp:advertisement" ad.id %}"> {{ ad.name }} </a></b></p>
            <p>{{ ad.description|truncatechars:300 }}</p>
            <p><i><b>{{ ad.price }} руб.</b></i></p>
            <p>Адрес: <i>{{ ad.address }}</i></p>
        </div>
        <br>
    {% endfor %}

    <hr>
    <h3>Комментарии:</h3>
    {% if not comments %}<p><i>Отсутствуют</i></p>{% endif %}

    {% for comment in comments %}
        <div class="bg-light" style="margin-left: 2%">
            <p><a href={% url "accounts:userprofile" comment.author.id  %}>
                {{ comment.author.get_full_name }}:
            </a></p>

            {% if comment.advertisement %}
            <p><i>К объявлению:
                <a href={% url "rentitapp:advertisement" comment.advertisement.id  %}>
                    {{ comment.advertisement.name }}
                </a>
            </i></p>
            {% endif %}

            <p class="bg-white">{{ comment.text }}</p>
            <p><i>Добавлен: {{ comment.date_published }}</i></p>
        </div>
        <br>
    {% endfor %}
{% endblock %}