{% extends "base.html" %}
{% block title %}{{ advertisement.name }} - {% endblock %}
{% block content %}
    {% if just_added %}
        <div class="bg-success" style="color: white; width: 100%; text-align: center">
            <b>{{ status_text }}</b>
        </div>
    {% endif %}

    {% if not advertisement.active %}
        <h4 style="color: red">Объявление снято с публикации</h4><hr>
    {% endif %}

    <h2>Объявление:</h2>
    <p>{{ category }} <b>{{ advertisement.name }}</b></p>
    <p><img alt="Advertisement photo" src="{{ advertisement.picture.url }}" height="400px"/></p>
    <p>{{ advertisement.description }}</p>
    <p><i><b>{{ advertisement.price }} руб.</b></i></p>
    <p>Арендодатель:
        <a href={% url "accounts:userprofile" advertisement.author.id  %}>
            <i>{{ advertisement.author.get_full_name }}</i>
        </a>
    </p>
    {% if advertisement.author.phone %}
        <p>Телефон: <i>{{ advertisement.author.phone }}</i></p>
    {% endif %}
    <p>Адрес: {{ advertisement.address }}</p>
    <p><i>Опубликовано: {{ advertisement.date_published }}</i></p>

    {% if user == advertisement.author %}
        <a href="{% url "rentitapp:edit" advertisement.id %}">Редактировать</a>
        {% if advertisement.active %}
            <p><a href="{% url "rentitapp:process" advertisement.id %}?deactivate=1">Снять с публикации</a></p>
        {% else %}
            <p><a href="{% url "rentitapp:process" advertisement.id %}?activate=1">Опубликовать снова</a></p>
            <p><a href="{% url "rentitapp:process" advertisement.id %}?delete=1">Удалить объявление</a></p>
        {% endif %}
    {% endif %}

    {% if comment_added %}
        <div class="bg-success" style="color: white;">Комментарий опубликован</div>
    {% endif %}

    {% if user != advertisement.author and user.is_authenticated and not comment_added %}
        <hr>
        <h4>Добавить комментарий:</h4>
        <form action="{% url "rentitapp:comment" advertisement.id %}">
        {% csrf_token %}
        <p>{{ new_comment.comment }}</p>
        <p><input type="submit" value="Добавить"></p>
        </form>
    {% endif %}
{% endblock %}
