{% extends "base.html" %}

{% block content %}
    {% if just_added %}
        <div style="background-color: green; color: white; width: 100%; text-align: center">
            <b>{{ status_text }}</b>
        </div>
    {% endif %}
    <a href="{% url "rentitapp:index" %}">На главную</a>

    <h2>Объявление:</h2>
    {% if not advertisement.active %}
        <h3 style="color: red">Объявление снято с публикации</h3>
    {% endif %}
    <ul>
        <li><img src="{{ main_picture }}" height="200px"/></li>
        <li>{{ category }} <b>{{ advertisement.name }}</b></li>
        <li>{{ advertisement.description }}</li>
        <li>Опубликовано: {{ advertisement.date_published }}</li>
        <li><i><b>{{ advertisement.price }}</b></i></li>
        <li><i>{{ advertisement.author.get_full_name }}</i></li>
        <li><i>{{ advertisement.author.phone }}</i></li>
        {% if advertisement.address %}
            <li>{{ advertisement.address }}</li>
        {% endif %}
        {% for pic in additional_pictures %}
        <li><img src="{{ pic.url }}" height="200px"/></li>
        {% endfor %}
    </ul>
    {% if user == advertisement.author %}
        <a href="{% url "rentitapp:edit" advertisement.id %}">Редактировать</a>
        {% if advertisement.active %}
            <p><a href="{% url "rentitapp:advertisement" advertisement.id %}?deactivate=1">Снять с публикации</a></p>
        {% else %}
            <p><a href="{% url "rentitapp:advertisement" advertisement.id %}?activate=1">Опубликовать снова</a></p>
            <p><a href="{% url "rentitapp:advertisement" advertisement.id %}?delete=1">Удалить объявление</a></p>
        {% endif %}
    {% endif %}
    {% if comment_added %}
        <div style="color: white; background-color: green;">Комментарий опубликован</div>
    {% endif %}
    {% if user != advertisement.author and user.is_authenticated and not comment_added %}
        <hr>
        <h4>Добавить комментарий:</h4>
        <form>
        {% csrf_token %}
        <p>{{ new_comment.comment }}</p>
        <p><input type="submit" value="Добавить"></p>
        </form>
    {% endif %}
{% endblock %}