{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <title>
        {% block title %}{% endblock %} Rent it!
    </title>
    <link rel="stylesheet" href="{% static 'bootstrap/dist/css/bootstrap.min.css'%}">
    <script src="{% static 'jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static 'bootstrap/dist/js/bootstrap.min.js' %}"></script>
</head>
<body>
    <div class="navbar navbar-top" role="navigation" style="background-color: lightgreen">
        <div class="container">
            <div class="navbar-header">
                <h3><a href="{% url "rentitapp:index" %}">Rent it!</a></h3>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    {% if request.user.is_authenticated %}
                        <li><a href="{% url "accounts:account" %}">{{ request.user.get_full_name }}</a></li>
                        {% if request.user.is_superuser %}
                            <li><a style="color: darkgreen; margin-left: 2%" href="/admin">Админка</a></li>
                        {% endif %}
                    {% else %}
                        <li><a href="{% url "login" %}?next=/">Войти</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>

    <div class="container" style="margin: 0% 5% 5% 5%">
        {% block content %}{% endblock %}
    </div>
</body>
</html>